body {
    background-color: #ccd6eb;
}

.Main {
    background-color: #303944;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: calc(14px + 1vmin);
    padding-top: 30px;
    padding-bottom: 30px;
}

.myButton {
    -moz-box-shadow: 0 0 0 2px #9fb4f2;
    -webkit-box-shadow: 0 0 0 2px #9fb4f2;
    box-shadow: 0 0 0 2px #9fb4f2;
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.05, #7892c2),
            color-stop(1, #476e9e)
    );
    background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
    background-color: #7892c2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 19px;
    padding: 12px 37px;
    margin: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #283966;
}

.myButton:hover {
    background: -webkit-gradient(
            linear,
            left top,
            left bottom,
            color-stop(0.05, #476e9e),
            color-stop(1, #7892c2)
    );
    background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2', GradientType=0);
    background-color: #476e9e;
}

.myButton:active {
    position: relative;
    top: 1px;
}

.activeModel {
    border: 1px dashed yellow;
}

.demo {
    width: 80%;
    padding-top: 15px;
}

.results {
    text-align: center;
}

.advancedContainer {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#advancedLoadText {
    text-align: center;
    font-size: 1.5em;
    margin: 0;
    -webkit-animation: rainbow-text 3s infinite;
    animation: rainbow-text 3s infinite;
}

.advancedCam {
    position: relative;
}

.advancedBox {
    position: absolute;
}

@keyframes rainbow-text {
    0% {
        color: #e63462;
    }
    20% {
        color: #fde74c;
    }
    40% {
        color: #9bc53d;
    }
    60% {
        color: #5dd9c1;
    }
    80% {
        color: #6457a6;
    }
    100% {
        color: #fff;
    }
}
